.vscode/**
.project
.circleci/**
Jenkinsfile
.github/**
typings/**
out/test/**
test/**
scripts/**
src/**
images/**
**/*.map
.gitignore
tsconfig.json
.eslintrc.json
sonar-project.properties
undefined/**
CONTRIBUTING.md
.vscode-test/**
test-resources
test Fixture with speci@l chars/**
testFixture/**
.test-extensions
camel-ls-sbom.json
docs
coverage
.camel-jbang
node_modules
out/src/ui-test
out/src/test
