.vscode/**
.project
.circleci/**
Jenkinsfile
.github/**
typings/**
out/test/**
test/**
scripts/**
src/**
images/**
**/*.map
.gitignore
gulpfile.js
tsconfig.json
tslint.json
sonar-project.properties
undefined/**
CONTRIBUTING.md
.vscode-test/**
test-resources
test Fixture with speci@l chars/**
testFixture/**
coverage
.nyc_output
